{% extends 'base.html' %}
{% block content %}

<!-- TASK FORM, FILTERS FOR USER AND TAKES IN INPUT -->
<div class="box is-mobile">
    <form method='POST' action={% url 'tasks' %}>
    {% csrf_token %}    
        <div class="field has-addons">
            <p class="control">
                <span class="select is-medium">
                    <label for="project"></label>  
                    <select name="project">
                    {% for project in projects %}
                        <option value={{ project.id }} >{{ project }}</option>
                    {% endfor %}
                    </select>
                </span></p>

            <p class="control is-expanded">
                <input class="input is-medium" type="text" name="taskName" placeholder="... enter a task name"></p>

            <p class="control">
                <input type="submit" class="button is-medium" id="is-green" value="add task"></p>
        </div>
    </form>
</div>

{% for task in tasks %}
    <a href="{% url 'task_show' task.id %}">
        <div class="card">
            <div class="level">
                <div class="level-left">
                    <div class="card-content ">
                        <div class="card-title is-size-5">{{ task.taskName }} | {{ task.project.projectName }}</i></div>
                    </div>
                </div>
                <div class="level-right">
                    <a class="button" id="complete"><strong>complete</strong></a>
                </div>  
            </div>
        </a>
    </div>
{% empty %}
<p>You have no Tasks yet, add them on the Tasks page </p>  
{% endfor %}

{% endblock %}