{% extends 'base.html' %}
{% block content %}
<div class="box">
    <form action="{% url 'tasks' %}" method='POST'>
        {% csrf_token %}
        <input class="input" type="text" name="taskName" placeholder="... enter a task name">
    </form>  
</div>
<div class="columns">
    <div class="column is-one-fifth">
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button id="projectSelector" class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Projects</span>
                <span class="icon is-small">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                <a href="#" class="dropdown-item">
                    Project One
                </a>
                <a class="dropdown-item">
                    Project Two
                </a>
                </div>
            </div>
        </div>
    </div> 
    <div class="column is-four-fifths">
        {% for task in tasks %}
            <a href="{% url 'task_show' task.id %}">
                <div class="card">
                    <div class="level">
                        <div class="level-left">
                            <div class="card-content ">
                                <div class="card-title">{{ task.taskName }}</div>
                            </div>
                        </div>
                        <div class="level-right">
                            <a class="button" id="complete"><strong>complete</strong></a>
                        </div>  
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}