{% extends 'base.html' %}
{% block content %}

<div class="columns">
    <div class="column is-one-fifth">
        Todays date <br>
        <button class="button is-secondary">Weekly View</button><br>
        <button class="button is-secondary">Total Time</button><br>
    </div>
    <div class="column is-four-fifth">
        <div class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{{ task.taskName }} &nbsp 
                        <a class="is-tasker-edit-icon"
                            href="{% url 'task_edit' task.id %}" 
                            method='POST'>
                                <i class="fas fa-pen-square"></i>
                        </a>
                    </h1>
                    <h2 class="subtitle">{{ task.project }}</h2>
                <p>Created on: {{ task.createdDate }}</p>
                    <p>Created by: {{ task.creator.name }}</p>
                    <p>Completed: {{ task.taskCompletedDate }}</p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}