{% extends 'base.html' %}
{% block content %}

<!-- TASK TILES-->
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
        <p class="title">{{ task.taskName }} &nbsp 
            <a class="is-tasker-medium-edit-icon"
                href="{% url 'task_edit' task.id %}" 
                method='POST'>
                    <i class="fas fa-pen-square"></i>
            </a></p>
        <p>Created on: {{ task.createdDate }}</p>
        <p>Completed: {{ task.taskCompletedDate }}</p>
    </div>
  </div>
  <div class="tile  is-parent">
    <div class="tile is-child box">
        <h3 class="subtitle is-6">Tags:</h3>
        {% for tag in tags %}
           {{ tag }}<br>
        {% endfor %}
        <div class="buttons has-addons is-right">
            <button class="button" id="is-blue">complete</button>
            <button class="button" id="is-red" >uncomplete</button>
            <button class="button" id="showModalTime" >add time</button>
        </div>
    </div>
  </div>
</div>


<!-- NOTES INPUT -->
<div class="box is-mobile">
    <form action="#" method='POST'>
    {% csrf_token %}    
        <div class="field has-addons">
            <p class="control is-expanded">
                <input class="input is-small" type="text" name="note" placeholder="... enter a note"></p>

            <p class="control">
                <input type="submit" class="button is-small" id="is-green" value="add note"></p>
        </div>
    </form>
</div>

<!-- BULMA MEDIA OBJECT NOTES DISPLAY -->
{% for note in notes %}
<article class="media">
    <div class="media-content">
        <div class="content">
        <p>
            <strong>{{ note.creator.name }}</strong><small> - {{ note.noteCreatedDate }}</small>
            <br>
            <small>{{ note.note }}</small></p>
        
        </div>
        <nav class="level is-mobile">
            <div class="level-left">
                <a class="level-item" href="{% url 'note_edit' note.id %}" method="POST">
                    <span class="is-tasker-small-edit-icon"><i class="fas fa-pen-square"></i></span>
                </a>
                <a class="level-item" href="{% url 'note_delete' note.id %}" method="DELETE">
                    <span class="is-tasker-small-delete-icon"><i class="fas fa-trash"></i></span>      
                </a>
            </div>
        </nav>
    </div>
</article>      
{% endfor %}
{% endblock %}