  
<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <!-- USERNAME -->
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="username" placeholder="Username">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span></p>
      </div>

      <!-- EMAIL -->
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input class="input" type="text" name="email" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span></p>
      </div>

      <!-- NAME -->
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="text" name="name" placeholder="Full Name">
            <span class="icon is-small is-left">
              <i class="fas fa-user-ninja"></i>
            </span></p>
        </div>

      <!-- PASSWORD -->
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" name="password" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span></p>
        </div>

      <!-- PASSWORD CONFIRM -->
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" name="password" placeholder="Password Confirmation">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span></p>
        </div>

      <div class="field">
        <p class="control">
          <button class="button is-success" id="is-green">
            Signup
          </button>
        </p>
        <input type="hidden" name="next" value="{{ next }}">
      </div>
  </div>
</form>