

<!-- BULMA MODAL FOR TIME INPUTS -->
<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" id="is-green">
      <p class="modal-card-title" >add time to: {{ task.taskName }}</p>
      <button class="delete closeModal" aria-label="close"></button>
    </header>
    <section class="modal-card-body" id="is-background">
      <form  method="POST" action="">
        {% csrf_token %}
        <p class="field">
        <label for="date"></label>
        <input type="date" class="input"></p>

        <p class="field">
        <label for="startTime"></label>
        <input type="time" class="input"></p>

        <p class="field">
        <label for="endTime"></label>
        <input type="time" class="input"></p>

        <p class="field">
        <label for="tags"></label>
        <input type="tags" class="input"placeholder=".... enter a tag or organize time"></p> 
        
        <div class="buttons has-addons">
            <button class="button closeModal" id="is-background">close</button>
            <button class="button" id="is-green" type="submit">add time</button>
        </div>
      </form>
    </section>
  </div>
</div>
