<!-- MODAL FOR DELETE WORKFLOW -->
<div class="modal" id="delete_modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" id="is-green">
      <button class="delete closeModal" aria-label="close"></button>
    </header>
    <section class="modal-card-body" id="is-background">
        <p>Are you sure you would like to delete</p>
    </section>
    <footer class="modal-card-foot">
      <a href="{% url '_delete' .id %}"><button class="button">delete</button></a>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>