:root {
    --backgroundcolor:#f5f5f5ff;
    --taskerBlue: #364f6bff;
    --taskerGreen:#3fc1c9ff;
    --taskerRed:#fc5185;
    --iconSizeSmall: 16px;
    --iconSizeMedium: 24px;
}
body {
    min-height: 100vh;
    background-color: var(--backgroundcolor);
}

footer {
padding-top: 0;
text-align: center;
}

.navbar {
    background-color: var(--taskerBlue);
}

.card { margin-top: 5px; }
.dropdown{ margin-top: 5px; }

.box{
    background-color: var(--backgroundcolor);
}

#complete {
    background-color: var(--taskerBlue);
    color: var(--backgroundcolor);
    margin-right: 10px;
}

.tag {
    margin: 3px;
}

#is-green {
    background-color: var(--taskerGreen);
    color: var(--backgroundcolor);
}

.is-green {
    background-color: var(--taskerGreen);
    color: var(--backgroundcolor);
}

#is-blue {
    background-color: var(--taskerBlue);
    color: var(--backgroundcolor);
}

.is-blue {
    background-color: var(--taskerBlue);
    color: var(--backgroundcolor);
}

#is-red {
    background-color: var(--taskerRed);
    color: var(--backgroundcolor);  
}

.is-red {
    background-color: var(--taskerRed);
    color: var(--backgroundcolor);  
}

#is-red-outline {
    background-color: white;
    border: 2px solid var(--taskerRed);
    border-radius: 5px;
    line-height: 10px;
    color: var(--taskerRed);  
}

#is-complete{
    background-color: white;
    border: 2px solid var(--taskerBlue);
    border-radius: 5px;
    line-height: 10px;
    color: var(--taskerBlue);
    text-decoration: line-through; 
}

#is-background-color {
    background-color: var(--backgroundcolor);
}

.field {
    margin-top: 5px;
    margin-bottom: 5px;
}

.is-tasker-small-edit-icon{
    font-size: var(--iconSizeSmall);
    color: var(--taskerBlue);
}

.is-tasker-medium-edit-icon{
    font-size: var(--iconSizeMedium);
    color: var(--taskerBlue);
}

.is-tasker-small-delete-icon{
    font-size: var(--iconSizeSmall);
    color: var(--taskerRed);
}

.card-content{
    margin: 3px;
    padding: 10px;
}

#is-button-box {
    height: 10px;
}

.avatar-image{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.profile-image {
    border-radius: 10px;
    border: 3px solid var(--taskerBlue);
}

.no-info{
    color: var(--taskerRed);
    font-weight: bold;
}

.messages{
    color: var(--taskerRed);
    font-weight: bold;
}

