:root {
    --backgroundcolor:#f5f5f5ff;
    --taskerBlue: #364f6bff;
    --taskerGreen:#3fc1c9ff;
    --taskerRed:#fc5185;
}
body {
    min-height: 100vh;
    background-color: var(--backgroundcolor);
}

footer {
padding-top: 0;
text-align: center;
}

.navbar {
    background-color: var(--taskerBlue);
}

.card { margin-top: 5px; }
.dropdown{ margin-top: 5px; }
#projectSelector{ width: 250px; }



#complete {
    background-color: var(--taskerBlue);
    color: var(--backgroundcolor);
    margin-right: 10px;
}