/* MAIN ROOT STYLES ======================= */
:root {
    --backgroundcolor:#f5f5f5ff;
    --taskerBlue: #364f6bff;
    --taskerGreen:#3fc1c9ff;
    --taskerRed:#fc5185;
    --iconSizeSmall: 16px;
    --iconSizeMedium: 24px;
}

/* BODY & NAVBAR ======================= */
body {
    overflow: hidden;
    height: 100vh;
    background-color: var(--backgroundcolor);
}

.navbar {
    background-color: var(--taskerBlue);
}
.navbar-burger{
    color: var(--backgroundcolor);
}
.navbar-menu{
    background-color: var(--taskerBlue);
}

.navbar-item:hover{
    /* background-color: var(--taskerRed); */
}

.card { margin-top: 5px; }
.dropdown{ margin-top: 5px; }

.box{
    background-color: var(--backgroundcolor);
}

#complete {
    background-color: var(--taskerBlue);
    color: var(--backgroundcolor);
    margin-right: 10px;
}

.tag {
    margin: 3px;
}

/* BUTTONS & COLORS ======================= */
#is-green {
    background-color: var(--taskerGreen);
    color: var(--backgroundcolor);
}

.is-green {
    background-color: var(--taskerGreen);
    color: var(--backgroundcolor);
}

#is-blue {
    background-color: var(--taskerBlue);
    color: var(--backgroundcolor);
}

.is-blue {
    background-color: var(--taskerBlue);
    color: var(--backgroundcolor);
}

#is-red {
    background-color: var(--taskerRed);
    color: var(--backgroundcolor);  
}

.is-red {
    background-color: var(--taskerRed);
    color: var(--backgroundcolor);  
}

#is-red-outline {
    background-color: white;
    border: 2px solid var(--taskerRed);
    border-radius: 5px;
    line-height: 10px;
    color: var(--taskerRed);  
}

#is-complete{
    background-color: white;
    border: 2px solid var(--taskerBlue);
    border-radius: 5px;
    line-height: 10px;
    color: var(--taskerBlue);
    text-decoration: line-through; 
}

#is-background-color {
    background-color: var(--backgroundcolor);
}

/* TILES? ======================= */
.field {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* TASKER ICONS ======================= */
.is-tasker-small-edit-icon{
    font-size: var(--iconSizeSmall);
    color: var(--taskerBlue);
}

.is-tasker-medium-edit-icon{
    font-size: var(--iconSizeMedium);
    color: var(--taskerBlue);
}

.is-tasker-small-delete-icon{
    font-size: var(--iconSizeSmall);
    color: var(--taskerRed);
}

/* PROJECT SHOW ======================= */
.card-content{
    margin: 3px;
    padding: 10px;
}


/* PROFILE ======================= */
.avatar-image{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.profile-image {
    border-radius: 10px;
    border: 3px solid var(--taskerBlue);
}

.no-info{
    color: var(--taskerRed);
    font-weight: bold;
}

.data-level{
    padding-top: 20px;
}



/* MAIN PAGE  ======================= */
.is-main-page{
    font-size: 78px;
    font-weight: bold;
}

.is-green-text{
    color: var(--taskerGreen);
}

.is-blue-text{
    color: var(--taskerBlue);
}

.is-red-text{
    color: var(--taskerRed);
}