{% extends 'base.html' %}
{% block content %}

<!-- TASK TILES -->
<div class="tile is-ancestor">
    <!-- LEFT TILE -->
    <div class="tile is-4 is-parent">
        <div class="tile is-child box">
            <p class="title">{{ task.taskName }} &nbsp 
                <a class="is-tasker-medium-edit-icon"
                    method='POST'
                    href={% url 'task_edit' task.id %}>
                        <i class="fas fa-edit"></i>
                </a></p>
            <p>Created on: {{ task.createdDate }}</p>
            <p>Completed: {{ task.taskCompletedDate }}</p>
        </div>
    </div>
    <!-- MIDDLE TILE -->
    <div class="tile is-6 is-parent">
        <div class="tile is-child box">
            <div class="level">
            <div class="level-item has-text-centered data-level">
                <div>
                <p class="heading is-green-text">Hours</p>
                <p class="title is-green-text">{{ totalTime }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered data-level">
                <div>
                {% if messages %}
                    <p class="messages no-info">
                        {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                        {% endfor %}
                    </p>
                {% endif %}
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- RIGHT TILE -->
    <div class="tile is-parent">
        <div class="tile is-child box">
            <div class="buttons has-addons is-left">
                <button class="button is-fullwidth" id="is-blue">
                    <a method="POST" href={% url 'task_complete' task.id %}>complete</a>
                </button>
                <button class="button is-fullwidth" id="is-red" >
                    <a method="POST" href={% url 'task_uncomplete' task.id %}>uncomplete</a>
                </button>
                <button class="button is-fullwidth" id="is-green">
                    <a method="POST" id="showAddTimeModal">add time</a>
                </button>
            </div>
        </div>
    </div> 
</div>


<!-- NOTES INPUT -->
<div class="box is-mobile">
    <form action={% url 'note_add' task.id %} method='POST'>
    {% csrf_token %}    
        <div class="field has-addons">
            <p class="control is-expanded">
                <input class="input is-small" type="text" name="note" placeholder="... enter a note"></p>

            <p class="control">
                <input type="submit" class="button is-small" id="is-green" value="add note"></p>
        </div>
    </form>
</div>


<div class="tile is-ancestor">
    <!-- LEFT TILE -->
    <div class="tile is-10 is-parent">
        <div class="tile is-child box">
            <!-- BULMA MEDIA OBJECT NOTES DISPLAY -->
            <p class="heading">Notes</p>
            {% for note in notes %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                    <p>
                        <strong>{{ note.creator.name }}</strong><small> - {{ note.noteCreatedDate }}</small>
                        <br>
                        <small>{{ note.note|urlize }}</small></p>
                    
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a class="level-item" method="POST" href={% url 'note_edit' note.id %}>
                                <span class="is-tasker-small-edit-icon">
                                <i class="fas fa-edit"></i></span>
                            </a>
                            <a class="level-item" method="DELETE" href={% url 'note_delete' note.id %}>
                                <span class="is-tasker-small-delete-icon">
                                <i class="fas fa-trash"></i></span>      
                            </a>
                        </div>
                    </nav>
                </div>
            </article>
            {% empty %}
            <p>Add Notes to Tasks for reference </p>        
            {% endfor %} 
        </div>
    </div>

    <!-- RIGHT TILE -->
    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="heading">Times</p>
            <p class="subtitle is-5">
            {% for item1, item2 in timeDates %}
                <a class=" is-small" method="POST" href={% url 'time_edit' item1.id %}>
                <span class="tag is-normal" id="is-blue">{{ item2 }}-{{ item1 }} &nbsp &nbsp
                    <i class= "fas fa-edit" ></i>
                </span></a>
                <br>
            {% empty %}
            <p>Add time to tasks. </p>        
            {% endfor %} </p>
            </div>
        </div>
    </div> 
</div>

<!-- MODAL FOR TIME INPUTS -->
<div class="modal" id="addTime">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" id="is-green">
      <button class="delete closeModal" aria-label="close"></button>
    </header>
    <section class="modal-card-body" id="is-background">
      <form action={% url 'time_add' %} method="POST">
        {% csrf_token %}
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                <p class="field">
                    <label for="id_date"></label>
                    <input type="date" name="date" required id="id_date" class="input"></p>
                
                <p class="field">
                    <label for="id_startTime"></label>
                    <input type="time" name="startTime" required id="id_startTime" class="input"></p>
                
                <p class="field">
                    <label for="id_endTime"></label>
                    <input type="time" name="endTime" required id="id_endTime" class="input"></p>
                
                <p class="field">
                    <label for="id_tags"></label>
                    <input type="text" name="tags" required id="id_tags" class="input" placeholder="...enter a tag to organize your time"></p>
                
                <!-- APPLIES A HIDDEN INPUT TO PUSH TASK ID INTO REQUEST DOT POST -->
                <p class="field">
                    <label for="id_task"></label>
                    <input class="input" type="hidden" name="task" value={{ task.id }}>
                <br>
                <button class="button" id="is-green" type="submit">add time</button>
            </div>
          </div>
        </div>
      </form> 
    </section>
  </div>
</div>
{% endblock %}



