{% extends 'base.html' %}
{% block content %}
<!-- PROFILE EDIT FORM -->
<form action={% url 'profile_edit' profile.id %} method="POST">
  {% csrf_token %}
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
          <p class="field">
          {% for field in profile_form %}
            {{ field.errors }}
              {{ field.label_tag }}
              <input class="input" {{ field }}
              {% if field.help_text %}
              <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
          {% endfor %}
        </div>
        <div class="buttons has-addons is-left">
            <input type="submit" class="button" id="is-green" value="Update">
            <a class="button is-red" id="showProfileDeleteModal">Delete</a><br> 
        </div>
      </p>
    </div>   
</form>

<!-- MODAL FOR DELETE PROFILE -->
<div class="modal" id="deleteProfile">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head" id="is-red">
      <button class="delete closeModal" aria-label="close"></button>
    </header>
    <section class="modal-card-body" id="is-background">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="columns is-mobile is-centered">
          <div class="column is-half">
            <div class="field">
                <p class="subtitle">Are you sure you would like to delete your Profile?</p>
            </div>
          </div>
        </div>
      </form> 
    </section>
      <footer class="modal-card-foot">
      <div class="buttons has-addons is-right">
        <a class="button is-red" href={% url 'profile_delete' profile.id %}>Yes, Delete</a>
      </div>
    </footer>
  </div>
</div>
{% endblock %}


