{% extends 'base.html' %}
{% block content %}

<div class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ profile.name }} &nbsp
                <a class="is-tasker-medium-edit-icon"
                    href="{% url 'profile_edit' profile.id %}" 
                    method='POST'>
                        <i class="fas fa-edit"></i></a>
                        
            </h1>
            <h2 class="subtitle">{{ profile.email }}</h2>
            <h2 class="subtitle">{{ user.username }}</h2>
            <p>Joined on: {{ profile.dateJoined }}</p>
        </div>
    </div>
</div>


{% endblock %}