{% extends 'base.html' %}
{% block content %}

<!-- TASK FORM, FILTERS FOR USER AND TAKES IN INPUT -->
<div class="box is-mobile">
    <form action={% url 'projects' %} method='POST'>
    {% csrf_token %} 
    <div class="field has-addons">   
            <p class="control is-expanded">
                <input class="input is-medium" type="text" name="project" placeholder="... enter a project name"></p>

            <p class="control">
                <input type="submit" class="button is-medium" id="is-green" value="add project"></p>
        </div>
    </form>
</div>

<!-- MAIN LOWER TILE -->
<div class="tile is-ancestor is-mobile">
    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="heading">Projects as of: &nbsp {% now "SHORT_DATE_FORMAT" %}</p>
            {% for project in projects %}
            <a href="{% url 'project_show' project.id %}">
                <div class="card">
                    <div class="level">
                        <div class="level-left">
                            <div class="card-content ">
                                <div class="card-title is-size-5">{{ project.projectName }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% empty %}
            <p>You have no Projects yet, add them above </p>  
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}