{% extends 'base.html' %}
{% block content %}

<!-- PROJECT HERO -->
<div class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{ project.projectName }} &nbsp 
                <a class="is-tasker-edit-icon"
                    href="{% url 'project_edit' project.id %}" 
                    method='POST'>
                        <i class="fas fa-pen-square"></i>
                </a>
            </h1>
            <h2 class="subtitle">{{ project.creator.name }}</h2>
            <p>Created on: {{ project.startDate }}</p>
        </div>
    </div>
</div>
{% endblock %}