{% extends 'base.html' %}
{% block content %}

<!-- PROJECT TILES-->
<div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
        <p class="title">{{ project.projectName }} &nbsp 
            <a class="is-tasker-medium-edit-icon"
                method='POST'
                href={% url 'project_edit' project.id %} >
                    <i class="fas fa-edit"></i>
            </a></p>
        <p>Created on: {{ project.creator.name }}</p>
        <p>Completed: {{ project.startDate }}</p>
    </div>
  </div>
  <div class="tile  is-parent">
    <div class="tile is-child box">
        <p class="subtitle is-6">DATA</p>
        <div class="buttons has-addons is-right">
        </div>
    </div>
  </div>
</div>

<!-- TASK CARDS -->
<div class="title is-4">Tasks</div>
{% for task in tasks %}
    {% if forloop.counter0|divisibleby:"4" %} <div class="columns is-desktop"><!-- bulma row open --> {% endif %}
        <div class="column is-3"> <!-- this has to work with above divisor -->
            <div class="card" id='is-project-card'>
                <div class="card-content">
                    <a href="{% url 'task_show' task.id %}">
                        <p class="title is-5">{{ task.taskName }}</p>
                        <p class="subtitle is-6">{{ task.creator }}</p>
                        {% if task.taskComplete == True %}
                            <p class="subtitle is-6">Date Completed: {{ task.taskCompletedDate }}</p>
                        {% endif %}
                        {% if task.taskComplete == False %}
                            <p class="subtitle is-6">... in process</p
                        {% endif %}
                    </a>
                </div>
                {% if task.taskComplete == True %}
                <footer class="card-footer" id='is-project-card-footer'>
                    <a href={% url 'task_uncomplete' task.id %} class="card-footer-item" id="is-blue">uncomplete</a>
                </footer> 
                {% endif %}
                {% if task.taskComplete == False %}
                <footer class="card-footer" id='is-project-card-footer'>
                    <a class="card-footer-item is-green" id="showAddTimeModal">add time</a>
                </footer>  
                {% endif %} 
            </div>
        </div>
    {%  if forloop.counter|divisibleby:"4" or forloop.last %}</div><!-- row closing --><hr>{%  endif %}
{% empty %}<!-- fi empty show this-->
<p class="no-info">You have no Tasks yet, add them on the Task page </p>       
{% endfor %}
{% endblock %}
